@charset "utf-8";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInX {
    0% {
        opacity: 0;
        transform: translateX(25px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes slideInY {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes Allow {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    50%{
        transform: translateX(-25%);
        opacity: 0;
    }
    51%{
        transform: translateX(25%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}