@charset "utf-8";
@import url(./animation.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 100%; /* 1rem = 16px */
    font-family: 'Noto Sans JP', '游ゴシック', YuGothic, sans-serif;
    background-color: #fafafa;
    transition: 0.5s ease-in-out;
}
body a {
    color: #333;
}

img {
    width: 100%;
}

/* index.css
******************************************************/
.header_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.header {
    padding: 1.5rem;
    pointer-events: auto;
}
.header .logo {
    display: block;
    width: 100%;
    max-width: 180px;
    text-align: center;
    font-family: 'M PLUS 1p';
    font-weight: lighter;
    letter-spacing: 0.75rem;
    font-size: 2rem;
    line-height: 1;
    transition: .3s ease-out;
    pointer-events: none;
}
.header_navigation {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1rem;
    list-style: none;
}
.header_navigation li {
    width: 36px;
}
.header_navigation a {
    display: block;
    border: solid 2px #999;
}
.header_navigation img {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    transition: 0.3s;
}
#reverse {
    transition: 0.3s;
    background-color: #fff;
}
#reverse:hover {
    filter: invert(1);
}
#reload {
    padding: 0.25rem;
    transition: 0.3s;
}
#reload:hover img {
    animation: rotate 1s ease-in-out;
}
#reload.disabled {
    pointer-events: none;
    background-color: #888;
}
#reload.disabled img {
    filter: brightness(0) invert(1);
}
#menu {
    padding: 0.25rem;
}
#menu:hover img {
    transform: scale(0.9);
}
.header_menu.active {
    margin-top: 0.75rem;
    pointer-events: inherit;
    opacity: 1;
}
.header_menu {
    display: block;
    position: absolute;
    margin-top: 1.5rem;
    width: 100%;
    max-width: 180px;
    list-style: none;
    opacity: 0;
    transition: 0.3s ease-out;
    pointer-events: none;
}
.header_menu li {
    margin-top: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: solid 2px #777;
    background-color: #fafafacc;
}
.header_menu a {
    display: block;
    text-decoration: none;
    background-color: none;
    transition: 0.3s;
}
.header_menu a:hover {
    background-color: #8885;
}
#generator {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#generator .item {
    padding: 0.25rem;
    height: auto;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1s;
}
#generator .item:hover {
    color: #b00;
    transition: .2s;
}
#generator .item:active {
    color: #f00;
}
.fadeout {
    animation: fadeOut 0.3s ease-in;
}

.option {
    display: inline-block;
    /* justify-content: space-between; */
    position: absolute;
    z-index: 9999;
    margin-right: 0.5rem;
    padding: 0 0.5rem 0.5rem;
    line-height: 1;
    background-color: #fafafa;
    border: solid 2px #000;
    border-radius: 8px;
    animation: slideInX 0.2s ease-out;
    transition: 0.2s;
    /* white-space: nowrap; */
}
.option:before {
    content: ""; /* 吹き出しの矢印 */
    position: absolute;
    top: 85%;
    left: 10%;
    width: 1rem;
    height: 1rem;
    background-color: #fafafa;
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(45deg);
    transition: 0.2s;
}
.option_close {
    display: inline-block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    transition: 0.3s ease-out;
}
.option_close span {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: solid 2px #777;
}
.option_close:hover {
    transform: scale(0.8);
}
.option_close :nth-child(1) {
    transform: rotate(45deg);
}
.option_close :nth-child(2) {
    transform: rotate(-45deg);
}
.option_name {
    display: inline-block;
    position: relative;
    top: 0.25rem;
    font-size: 1.5rem;
    line-height: 1.25;
}
.option p {
    font-size: 0.875rem;
}
.option_menu {
    display: inline-block;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    list-style: none;
    transition: 0.3s;
}
.option_menu li {
    display: inline-block;
    width: 2rem;
    vertical-align: middle;
}
.option_menu a {
    display: block;
}
.search {
    padding: 0.25rem;
}

.option_menu a img {
    width: 100%;
    vertical-align: bottom;
    filter: grayscale(1);
    transition: 0.2s ease-out;
}
.option_menu a:hover img {
    filter: grayscale(0.4);
    transition: 0.2s;
}
.option_menu a:active img {
    filter: grayscale(0);
    transition: 0.3s;
}
.option_menu a img.saved {
    filter: invert(17%) sepia(91%) saturate(7085%) hue-rotate(160deg) brightness(100%) contrast(106%);
    pointer-events: none;
}


/* ネガポジ反転 
*********************************************************/

body.reversed {
    background-color: #000;
    color: #fafafa;
}
body.reversed a {
    color: #fafafa;
}
body.reversed .logo,
body.reversed .header_navigation {
    filter: invert(1);
}
body.reversed .header_menu li {
    background-color: #000c;
}
body.reversed .option {
    background-color: #000;
    border: solid 2px #fafafa;
}
body.reversed .option:before {
    background-color: #000;
    border-bottom: 2px solid #fafafa;
    border-right: 2px solid #fafafa;
    transform: rotate(45deg);
}

@media screen and (max-width: 480px) {
    body {
        font-size: 62.5%;
    }
    .header .logo {
        max-width: 150px;
    }
}